[submodule "mlib_devel"]
	path = mlib_devel
	url = https://github.com/casper-astro/mlib_devel
[submodule "ValonSynth"]
	path = ValonSynth
	url = https://github.com/nrao/ValonSynth
[submodule "adc5g_devel"]
	path = adc5g_devel
	url = https://github.com/CedricDViou/adc5g_devel
